In [44]:
import pandas as pd

## Data Cleaning

In [45]:
# loading data
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url, header=0,keep_default_na=False) 
df = table[0]

In [46]:
#chaning column names
df.columns = ['PostalCode','Borough','Neighborhood']
#removing irrelavent data
df=df[df.Borough != 'Not assigned']

In [47]:
#formatting data
df = df.groupby(['PostalCode'], sort=False).agg({'Borough':'first','Neighborhood':','.join})
df.Neighborhood = df.Borough.where(df.Neighborhood == 'Not assigned', df.Neighborhood)
df.head()

                     Borough                     Neighborhood
PostalCode
M3A               North York                        Parkwoods
M4A               North York                 Victoria Village
M5A         Downtown Toronto         Harbourfront,Regent Park
M6A               North York  Lawrence Heights,Lawrence Manor
M7A             Queen's Park                     Queen's Park

In [48]:
#shape of data
df.shape

(103, 2)

## Geodata

In [49]:
df_g=pd.read_csv('https://cocl.us/Geospatial_data') 
df_g.columns = ['PostalCode','Latitude','Longitude']

In [50]:
df_g.set_index(['PostalCode'], inplace=True)

In [51]:
df_g.head()

             Latitude  Longitude
PostalCode
M1B         43.806686 -79.194353
M1C         43.784535 -79.160497
M1E         43.763573 -79.188711
M1G         43.770992 -79.216917
M1H         43.773136 -79.239476

In [55]:
#merging geodata with data
df_f = pd.merge(df,df_g,left_index=True,right_index=True)

In [56]:
df_f.head()

,Borough,Neighborhood,Latitude,Longitude
PostalCode,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Harbourfront,Regent Park",43.654260,-79.360636
M6A,North York,"Lawrence Heights,Lawrence Manor",43.718518,-79.464763
M7A,Queen's Park,Queen's Park,43.662301,-79.389494